[user]
	email = tylerwayne3@gmail.com
	name = Tyler Wayne
[init]
	templatedir = ~/.git_template
	defaultBranch = master
[alias]
	ctags = !.git/hooks/ctags
  fadd = add -f
	last = log -1 HEAD
  ls = ls-tree -r HEAD
  ssl = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %Cgreen(%cr) %C(bold blue)<%an>%Creset %s ' --abbrev-commit
  purge = clean -d -f
	revert = checkout --
  shallow-clone = clone --depth 1
  unstage = reset HEAD --
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[pull]
	rebase = true
